@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>

    <p>
        <a href="https://github.com/pavitramaduranga/PathFinder" target="_blank">Visit the PathFinder GitHub Repository</a>
    </p>
</main>