@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Path Finder Pro</h1>
        <br>
        <div class="form-group mb-3">
            <!-- added mb-3 for margin-bottom -->
            <label id="availableNodes" class="form-label">-</label>
        </div>


        <p class="lead">Select Start and End nodes</p>

        <div class="form-group mb-3">
            <label for="fromNode" class="form-label">From Node</label>
            <select class="form-control" id="fromNode"></select>
        </div>
        <div class="form-group mb-4">
            <label for="toNode" class="form-label">To Node</label>
            <select class="form-control" id="toNode"></select>
        </div>
        <!-- Learn More button -->
        <p><button id="learnMoreBtn" class="btn btn-primary btn-md">Calculate Path</button></p>

        <div class="form-group mb-3 alert alert-success" id="successResponseDiv" style="display: none;">
            <p id="initialNodes" style=" width:50%" />
            <p id="bestPath" style=" width:50%" />
            <p id="distance" style=" width:50%" />
        </div>
        <div id="errorAlert" class="alert alert-danger" style="display:none;"></div>
    </section>
</main>

<script src="~/Scripts/Home/Index.js"></script>
