@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">ASP.NET</h1>
        <p class="lead">Enter Start and End nodes</p>

        <div class="form-group mb-3">
            <!-- added mb-3 for margin-bottom -->
            <label for="fromNode" class="form-label">From Node</label>
            <input type="text" class="form-control" id="fromNode" placeholder="From Node" onkeypress="return onlyLetters(event)" />
        </div>
        <div class="form-group mb-4">
            <!-- added mb-4 for more margin-bottom -->
            <label for="toNode" class="form-label">To Node</label>
            <input type="text" class="form-control" id="toNode" placeholder="To Node" onkeypress="return onlyLetters(event)" />
        </div>

        <!-- Learn More button -->
        <p><button id="learnMoreBtn" class="btn btn-primary btn-md">Calculate Path</button></p>

        <div class="form-group mb-3 alert alert-success" id="successResponseDiv" style="display: none;">
            <p id="initialNodes" style=" width:50%" />
            <p id="bestPath" style=" width:50%" />
            <p id="distance" style=" width:50%" />
        </div>
        <div id="errorAlert" class="alert alert-danger" style="display:none;"></div>
    </section>

    <div class="row">
        <!-- Additional content can go here -->
    </div>
</main>

<script>

    function onlyLetters(event) {
        var char = String.fromCharCode(event.which);
        if (!(/[a-zA-Z]/.test(char))) {
            event.preventDefault();
        }
    }

    document.getElementById('learnMoreBtn').addEventListener('click', function (event) {
        
        if (!validateNodes()) {
            event.preventDefault();
        }
        else {
            clearResponse();

            var fromNode = document.getElementById('fromNode').value;
            var toNode = document.getElementById('toNode').value;

            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/api/path?from=' + fromNode + '&to=' + toNode, true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    var responseData = JSON.parse(xhr.responseText);
                    document.getElementById('successResponseDiv').style.display = 'block';
                    document.getElementById('errorAlert').style.display = 'none';
                    $('<div>', { text: formatInitialNodeData(fromNode, toNode) }).appendTo($('#initialNodes'));
                    $('<div>', { text: formatPathData(responseData) }).appendTo($('#bestPath'));
                    $('<div>', { text: formatDistanceData(responseData) }).appendTo($('#distance'));

                    console.log(xhr.responseText);
                }
                else {
                    var errorAlert = document.getElementById('errorAlert');
                    errorAlert.innerHTML = 'Error occured while calculating the best path.';
                    errorAlert.style.display = 'block';
                    return false;
                }
            };
            xhr.send();
        }
    });

    function formatInitialNodeData(fromNode, toNode) {
        return 'Start Node ' + fromNode + ' End Node ' + toNode;
    }

    function formatPathData(data) {
        return 'Best Path: ' + data.nodeNames.join(', ');
    }

    function formatDistanceData(data) {
        return 'Shortest Distance: ' + data.distance;
    }

    function validateNodes() {
        var fromNode = document.getElementById('fromNode').value;
        var toNode = document.getElementById('toNode').value;
        var errorAlert = document.getElementById('errorAlert');

        var letterRegex = /^[A-Za-z]$/;

        if (fromNode.match(letterRegex) && toNode.match(letterRegex)) {
            errorAlert.style.display = 'none';
            return true;
        } else {
            errorAlert.innerHTML = 'Both From Node and To Node must be a single English letter.';
            errorAlert.style.display = 'block';
            return false;
        }
    }

    function clearResponse() {
        document.getElementById('errorAlert').style.display = 'none';
        document.getElementById('successResponseDiv').style.display = 'none';
        document.getElementById("initialNodes").innerHTML = "";
        document.getElementById("bestPath").innerHTML = "";
        document.getElementById("distance").innerHTML = "";
    }

</script>